.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d6a504;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .icon {
    font-size: 28px;
  }